@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}

.caixa{
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    padding: 5px;
}

.verde{
    border-color: green !important;
    background-color: rgb(185, 255, 185) !important;
}

.azul{
    border-color: blue !important;
    background-color: rgb(210, 255, 240) !important;
}

.vermelho{
    border-color: red !important;
    background-color: rgb(245, 209, 209) !important;
}

button{
    width: 100px;
    padding: 5px 0;
    margin-top: 10px;
    background-color: rgb(5, 54, 94);
    color:white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;

}
