@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}


main{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* main div.caixa{
    border: 3px solid black;
    width: 300px;
    height: 500px;
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 212, 212);
} */

.curso{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}



button#btn{
    background-color: rgb(15, 69, 114);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

.selecionado{
    
    color: #fcc;
    border-color: rosybrown;
}

.c1{
    background-color: #ccc;
    color: #444;
}

.c2{
    background-color: #444;
    color: #ccc;
}

.caixa{
    border: 4px solid black;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}

