@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}



main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main div.caixa{
    border: 3px solid black;
    width: 300px;
    height: 500px;
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 212, 212);
}

main div.caixa div{
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 5px;
    width: 200px;
    text-align: center;
}

button#btn{
    background-color: rgb(15, 69, 114);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 25px 30px;
}

